# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
env.bak/

# Visual Studio Code
.vscode/
.settings/
*.code-workspace
*.vsix

# test scripts
**/test.py
**/test_script.ipynb

# Jupyter Notebook
.ipynb_checkpoints/
**.ipynb



**.npy

# catkin build folder
build/
devel/
install/
logs/
.catkin_tools
catkin_tools/
catkin_workspace/
*.log
*.catkin_tools/
